<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org"
	xmlns:spring="http://www.springframework.org/tags">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Bootstrap Modal Registration Form Template</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="assets/css/form-elements.css" />
<link rel="stylesheet" href="assets/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700'
	rel='stylesheet' type='text/css' />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="assets/ico/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="assets/ico/apple-touch-icon-57-precomposed.png" />


<!-- circular -->
<link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="assets/css/cs-select.css" />
<!-- <link rel="stylesheet" type="text/css" href="assets/css/demo.css" /> -->
<link rel="stylesheet" type="text/css"
	href="assets/css/cs-skin-circular.css" />

</head>

<body>
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header">
				<img style="float: left; margin: -5px 15px -5px -10px;"
					src="assets/logos/ac.png" width="60px" height="85px" alt="" /> <img
					style="float: right; margin: -5px -20px -5px 0px;"
					src="assets/logos/nm.png" width="90px" height="92px" alt="" /> <img
					style="float: right; margin: 0px 0px 0px 0px;"
					src="assets/logos/itk.jpg" width="70px" height="70px" alt="" /> <img
					style="float: right; margin: 0px 10px 0px 0px;"
					src="assets/logos/UL.jpg" width="70px" height="70px" alt="" />
				<h3 class="modal-title" id="modal-register-label">Enregistrement</h3>
				<p>Completez vos données :</p>
			</div>

			<div class="modal-body">
				<form role="form" th:action="@{/save}" method="post"
					th:object="${memberr}">
					<!-- Type de formation -->
					<div class="form-group">
						<label for="form-forma">Type de formation</label>
						<table width="100%" border="0">
							<tr>
								<td><select th:field="*{formation}" name="form-forma"
									id="form-forma" class="cs-select cs-skin-circular">
										<option value="">Selectionner une formation</option>

										<option th:each="formation:${formations}"
											th:value="${formation.formationID} "
											th:text="${formation.formationNAME}"></option>
								</select></td>
							</tr>
						</table>
					</div>
					<!-- Prenom -->
					<div class="form-group">
						<label for="form-first-name">Informations Génèrales</label> <input
							th:field="*{memberFNAME}" type="text" name="form-first-name"
							placeholder="Prénom..." class="form-first-name form-control"
							id="form-first-name" />
					</div>
					<!-- Nom de père -->
					<!-- 							<div class="form-group"> -->
					<!-- 	                        	<label class="sr-only" for="form-father-name">Nom de père</label> -->
					<!-- 	                        	<input type="text" name="form-father-name" placeholder="Nom de père..." class="form-father-name form-control" id="form-father-name"/> -->
					<!-- 	                        </div> -->
					<!-- Nom -->
					<div class="form-group">
						<label class="sr-only" for="form-last-name">Nom</label> <input
							th:field="*{memberSNAME}" type="text" name="form-last-name"
							placeholder="Nom..." class="form-last-name form-control"
							id="form-last-name" />
					</div>
					<!-- Nom -->
					<div class="form-group">
						<label for="form-pp">Photo de Profile</label> <input
							th:field="*{memberPHOTO}" type="file" accept=".png, .jpg, .jpeg"
							name="form-pp" placeholder="photo..."
							class="form-pp form-control" id="form-pp" />
					</div>
					<!-- Date de naissance -->
					<div class="form-group">
						<label class="sr-only" for="form-dateN">Date de naissance</label>
						<input  type="text" name="form-dateN"
						    th:field="*{memberBEARTH}"
							onfocus="(this.type='date')" onblur="(this.type='text')"
							placeholder="Date de Naissance" class="form-dateN form-control"
							id="form-dateN" />
					</div>
					<!-- Email -->
					<div class="form-group">
						<label class="sr-only" for="form-email">Email</label> <input
							th:field="*{memberEMAIL}" type="email" name="form-last-name"
							placeholder="E-mail..." class="form-email form-control"
							id="form-email" />
					</div>
					<!-- password -->
					<div class="form-group">
						<label class="sr-only" for="form-pwd">Mot de passe</label> <input
							th:field="*{memberPWD}" type="password" name="form-pwd"
							placeholder="Mot de passe..." class="form-pwd form-control"
							id="form-pwd" />
					</div>
					<!-- confirm password -->
					<div class="form-group">
						<label class="sr-only" for="form-cpwd">Confirmation de mot
							de passe</label> <input type="password" name="form-cpwd"
							placeholder="Confirmation de mot de passe..."
							class="form-cpwd form-control" id="form-cpwd" />
					</div>
					<!-- Lieu de Naissance -->
					<div class="form-group">
						<label for="form-lieuN">Lieu de naissance et Adresse</label>
						<!-- <table width="100%" border="0">
									<tr>
										
										<td><input  type="radio" name="form-lieuN" class="form-lieuN" value="ET" id="form-lieuN"/></td><td>Pays</td>
									</tr>
								</table> -->
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-country">Pays</label>
						<table width="100%" border="0">
							<tr>
								<!-- <td><img id="img-country"
									src="assets/img/backgrounds/country/tunisie.png" width="50px"
									height="40px" /></td> -->
								<td><select th:field="*{country}" name="form-country"
									id="form-country" class="form-country form-control">
										<option th:each="country:${countys}"
											th:value="${country.countryID}"
											th:text="${country.countryNALME}"></option>

								</select></td>
							</tr>
						</table>
						<input th:field="*{memberADRESSE}" type="text" name="form-adr-etr" placeholder="Adresse..."
							class="form-adr-etr form-control" id="form-adr-etr" />
					</div>
					<!-- 							<div id="form-tn-hide" class="form-group"> -->
					<!-- 								<input type="text" name="form-adr-tn" placeholder="Adresse..." class="form-adr-tn form-control" id="form-adr-tn"/> -->
					<!-- 							</div> -->
					<!-- Evidence -->
					<div class="form-group">
						<label for="form-evid">Identité</label>
						<table width="100%" border="0">
							<tr>
								<td><input type="radio" name="form-evid" class="form-evid"
									value="CIN" id="form-evid" /></td>
								<td>CIN</td>
								<td><input type="radio" name="form-evid" class="form-evid"
									value="PP" id="form-evid" /></td>
								<td>Passport</td>
							</tr>
						</table>
					</div>
					<div class="form-group form-cin">
						<label class="sr-only" for="form-cin">CIN</label> <input 
						    th:field="*{memberCIN}"
							type="number" name="form-cin" placeholder="Numéro de CIN..."
							class="form-cin form-control" id="form-cin" /> <input 
							th:field="*{cinDATE}" 
							onfocus="(this.type='date')" onblur="(this.type='text')"
							name="form-date-cin" placeholder="date de delivence cin..."
							class="form-date-cin form-control" id="form-date-cin" /> Photo de
						CIN :<input 
						th:field="*{cinPHOTO}"
						type="file" accept=".png, .jpg, .jpeg"
							name="form-file-cin" class="form-cin form-control"
							id="form-file-cin" />
					</div>
					<div class="form-group form-pp">
						<label class="sr-only" for="form-pp">PASSPORT</label> <input
						th:field="*{memberPP}"
							type="number" name="form-pp" placeholder="Numéro de Passport..."
							class="form-pp form-control" id="form-pp" /> <input 
							th:field="*{ppDate}"
							
							onfocus="(this.type='date')" onblur="(this.type='text')"
							name="form-date-pp" placeholder="date de delivence passport..."
							class="form-date-pp form-control" id="form-date-pp" /> Photo de
						Passport :<input
						th:field="*{ppPHOTO}"
						 type="file" accept=".png, .jpg, .jpeg"
							name="form-file-pp" class="form-pp form-control"
							id="form-file-pp" />
					</div>

					<!-- Niveau Universitaire -->
					<div class="form-group">
						<label for="form-univ">Niveau Universitaire</label>
						<table width="100%" border="0">
							<tr>
								<td><select th:field="*{level}" name="form-univ"
									id="form-univ" class="form-univ form-control">

										<option th:each="level:${levelss}" th:value="${level.levelID}"
											th:text="${level.levelNAME}"></option>

								</select></td>
							</tr>
						</table>
					</div>

					<div class="form-group">
						<button type="submit" class="btn">Enregistrer</button>
					</div>
				</form>

			</div>

		</div>
	</div>


	<!-- Javascript -->
	<script src="assets/js/jquery-3.2.1.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- <script src="assets/js/jquery.ddslick.js"></script> -->
	<script src="assets/js/jquery.backstretch.min.js"></script>
	<script src="assets/js/scripts.js"></script>
	<!-- <script src="assets/js/blur.js"></script> -->
	<script src="assets/js/teams.js"></script>

	<!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

	<script src="assets/js/classie.js"></script>
	<script src="assets/js/selectFx.js"></script>
	<script>
			(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el, {
						stickyPlaceholder: false,
						onChange: function(val){
							var img = document.createElement('img');
							img.src = 'assets/img/'+val+'.png';
							img.onload = function() {
								document.querySelector('span.cs-placeholder').style.backgroundImage = 'url(assets/img/'+val+'.png)';
							};
						}
					});
				} );
			})();
		</script>

</body>

</html>